<% layout('layouts/boilerplate')%>
<table class="table table-striped table-primary">
    <thread>
        <th> URL </th>
        <th> Short-Link </th>
        <th> Create Date </th>
        <th> Expiry Date </th>
        <th> Count </th>
    </thread>
    
<% for(let c of data.Links){ %> 
    
    <tbody>
            <tr>
                <td><%= c.URL %></td>
                <td>teeny/<%=c.short_url %> </td>
                <td><%= c.create_date %></td>
                <td><%= c.expiry_date %></td>
                <td> <%= c.request_count %> </td>
            </tr>
    </tbody>
<% } %> 
<% for(let c of data.DeadLinks){ %> 
    
    <tbody>
            <tr>
                <td><%= c.URL %></td>
                <td>teeny/<%=c.short_url %> </td>
                <td><%= c.create_date %></td>
                <td><%= c.expiry_date %></td>
                <td> <%= c.request_count %> </td>
            </tr>
    </tbody>
<% } %> 
</table>